{% extends 'base.html' %}
{% load static %}
{% block title %} Mini prajituri {% endblock %}

<br><br><br><br>   
<br><br><br><br> 

{% block content %}

    <style>
    body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}



#produse {
    padding: 50px 20px;
    text-align: center;
}

#produse h2 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #444;
}

.produs {
    display: inline-block;
    background-color: #fff;
    width: 300px;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.produs:hover {
    transform: translateY(-10px);
}

.produs img {
    width: 100%;
    border-radius: 8px;
}

.produs h3 {
    font-size: 22px;
    margin: 15px 0;
}

.produs p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
    </style>
    <body>

    <section id="produse">
        <h2>Mini prajituri</h2>

        <div class="produs">
            <img src="{% static '/media/mini-eclere.jpeg' %}" alt="Mini eclere">
            <h3>Mini eclere</h3>
            <p>Umplute cu cremă fină și glazurate cu ciocolată.</p>
        </div>

        <div class="produs">
            <img src="{% static '/media/mini-tarte.jpeg' %}" alt="Mini tarte">
            <h3>Mini tarte cu fructe</h3>
            <p>Fructe proaspete pe un strat crocant de aluat.</p>
        </div>

        <div class="produs">
            <img src="{% static '/media/mini-amandine.jpeg' %}" alt="Mini amandine">
            <h3>Mini amandine</h3>
            <p>Descriere</p>
        </div>
        
        <div class="produs">
            <img src="{% static '/media/medovik.jpeg' %}" alt="Medovik">
            <h3>Medovik</h3>
            <p>Descriere.</p>
        </div>
        
        <div class="produs">
            <img src="{% static '/media/tiramisu-pahar.jpeg' %}" alt="Tiramisu la pahar">
            <h3>Tiramisu la pahar</h3>
            <p>Descriere.</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Dessertistic. Toate drepturile rezervate.</p>
    </footer>
</body>

{% endblock %}
